<p>leaderboard PMPL SEA!</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#RANK</th>
        <th scope="col">TEAM</th>
        <th scope="col">TOTAL POINT</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>INFINITY</td>
        <td>239</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>EVOS</td>
        <td>189</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>GD</td>
        <td>169</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>GEEK</td>
        <td>162</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>MSC</td>
        <td>140</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>JOINME</td>
        <td>129</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>BTR</td>
        <td>127</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>2E</td>
        <td>116</td>
      </tr>
    </tbody>
  </table>

