<p>Jadwal Turnamen</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">TEAM</th>
        <th scope="col">MAP</th>
        <th scope="col">TANGGAL</th>
        <th scope="col">MATCH</th>
        <th scope="col">Point KILL</th>
        <th scope="col">POINT PLACEMENT</th>
        <th scope="col">WWCD</th>
        <th scope="col">POINT</th>
      </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">BTR</th>
            <td>ERANGEL</td>
            <td>29-10-2021</td>
            <td>1</td>
            <td>3</td>
            <td>15</td>
            <td>1</td> 
            <td>18</td>   
        </tr>
        <tr>
            <th scope="row">EVOS</th>
            <td>ERANGEL</td>
            <td>29-10-2021</td>
            <td>1</td>
            <td>2</td>
            <td>12</td>
            <td>0</td> 
            <td>14</td>   
    </tr> 
    <tr>
            <th scope="row">GD</th>
            <td>ERANGEL</td>
            <td>29-10-2021</td>
            <td>1</td>
            <td>4</td>
            <td>10</td>
            <td>0</td>
            <td>14</td>    
    </tr> 
    <tr>
            <th scope="row">MSC</th>
            <td>ERANGEL</td>
            <td>29-10-2021</td>
            <td>1</td>
            <td>2</td>
            <td>8</td>
            <td>0</td> 
            <td>10</td>   
    </tr>
    <tr>
        <th scope="row">GEEK</th>
        <td>ERANGEL</td>
        <td>29-10-2021</td>
        <td>1</td>
        <td>2</td>
        <td>6</td>
        <td>0</td>
        <td>8</td>   
</tr>
