<p>profile Player</p>
<table class="table">
    <thead>
      <tr>
        <th scope="col">username</th>
        <th scope="col">nama</th>
        <th scope="col">Jenis kelamin</th>
        <th scope="col">kota</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">BTERXRayzen</th>
        <td>abi</td>
        <td>laki-laki</td>
        <td>jakarta</td>
      </tr>
      <tr>
        <th scope="row">EVOSxMicroboy6</th>
        <td>mcboy</td>
        <td>laki-laki</td>
        <td>jakarta</td>
      </tr>
      <tr>
        <th scope="row">GEEKiQb</th>
        <td>iQb</td>
        <td>laki-laki</td>
        <td>Malaysia</td>
      </tr>
      <tr>
        <th scope="row">MSCNc2</th>
        <td>Nc2</td>
        <td>laki-laki</td>
        <td>tailand</td>
      </tr>
      <tr>
        <th scope="row">GDGIDsinicil</th>
        <td>nicil</td>
        <td>laki-laki</td>
        <td>jakarta</td>
