<h1>PMPL SEA 2021</h1>
<img  src="assets/images/1.jpg">
<h2>PUBG Mobile kembali menggelar turnamen nasional paling terkemuka berjudul PUBG Mobile Pro League 2020 (PMPL 2020) di Asia Tenggara.
      Turnamen ini akan menjadi kunci meraih tiket ke PUBG Mobile World League 2020. PMPL SEA 2020 akan menjadi turnamen profesional nasional terbesar yang diadakan oleh PUBG Mobile di Asia Tenggara. 
      PMPL SEA 2020 akan diadakan di negara-negara termasuk Indonesia, Thailand, Vietnam, Malaysia dan Singapura. Liga akan dibagi menjadi musim semi dan musim gugur. 
      Liga dibuka melalui tahap kualifikasi, total 24 tim akan bersaing untuk 16 tempat di final PUBG Mobile Pro League 2020.
  </h2>
<h3> Selain negara-negara Asia Tenggara yang disebutkan di atas, bagi tim-tim professional dari negara-negara Asia Tenggara lainnya yang ingin memiliki kesempatan untuk bersaing di tahap akhir Asia Tenggara dan maju ke PUBG Mobile World League 2020. 
     Mereka dapat bergabung dengan kualifikasi PMCO. Akan ada 6 slot untuk seluruh wilayah Asia Tenggara untuk maju ke Liga Dunia Mobile PUBG. Oliver Ye, sebagai Direktur Pemasaran PUBG Mobile untuk Asia Tenggara, mengatakan, PMPL 2020 adalah bentuk komitmen untuk berkontribusi pada pengembangan Esports.
     "PMPL 2020 adalah struktur E-sport baru untuk pemain untuk bergabung di panggung professional di tingkat negara. Semoga dengan PMPL 2020, PUBG Mobile dapat membuka lebih banyak peluang untuk para pemain menjadi pemain profesional dan memiliki karier yang menjanjikan di dunia Esports.," kata Oliver Ye. 
     Beberapa persyaratan yang harus dipenuhi untuk dapat berpartisipasi dalam PMPL 2020 adalah usia minimum 16 tahun, harus memiliki peringkat platinum atau lebih, serta ada persyaratan lain. Dengan jangka waktu hampir dua tahun, dan 50 juta pengguna harian aktif, serta 600 juta unduhan; PUBG Mobile 
     berkeinginan untuk terus memberikan pengalaman terbaik bagi para pemain serta memberikan peluang bagi para pemain yang ingin memasuki dunia Esports dan menjadi pemain profesional.
    </h3>
